PORTAL_DEPLOY_ENV=production
PORTAL_PUBLIC_BASE_PATH=/TL_Art_Plugin_Usage_Analytics_Page/
PORTAL_FIREBASE_API_KEY=AIzaSyC1nLVogrZ8vjtLt7lrkqeYtyq4URNi1v8
PORTAL_FIREBASE_AUTH_DOMAIN=tl-art-plugin-analytics.firebaseapp.com
PORTAL_FIREBASE_PROJECT_ID=tl-art-plugin-analytics
PORTAL_FIREBASE_APP_ID=1:486794405579:web:02e2c89e895af48c80dd4e
PORTAL_FIREBASE_STORAGE_BUCKET=tl-art-plugin-analytics.firebasestorage.app
PORTAL_FIREBASE_MESSAGING_SENDER_ID=486794405579
PORTAL_PAGES_ORIGIN=https://laynehsu.github.io
PORTAL_FIREBASE_AUTHORIZED_DOMAINS_JSON=["laynehsu.github.io","tl-art-plugin-analytics.firebaseapp.com","tl-art-plugin-analytics.web.app"]
